<h2>About Me</h2>
<div>
    <img
        src="<%= picture %>"
        alt="<%= name %>'s picture"
        style="width: 150px; height: auto"
    />
    <h3><%= name %></h3>
    <p><%= description %></p>
</div>
